body {
	font-family: Roboto;
	background: linear-gradient(to right, rgb(112, 225, 245), rgb(255, 209, 148));
	margin-top: 100px;
}

h1 {
	color: white;
	background: #2980b9;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}

span {
	background: red;
	color: white;
	margin-right: 20px;
	height: 40px;
	text-align: center;	
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

input {
	width: 100%;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	background: #f7f7f7;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
}

#container {
/*	background: grey;*/
	width: 360px;
	margin: 0 auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.complete {
	text-decoration: line-through;
	color: grey;
}

.fa-plus {
	float: right;	
}

input:focus {
	border: 3px solid #2980b9;
	background: white;
	outline: none;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

li:hover span{
	opacity: 1;
	width: 40px;	
}